@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --clr-1: hsl(217, 19%, 35%);
  --clr-2: hsl(214, 17%, 51%);
  --clr-3: hsl(212, 23%, 69%);
  --clr-4: hsl(210, 46%, 95%);

  --ft-family: 'Manrope', sans-serif;
  --ft-size: 13px;
  --ft-weight-standard: 500;
  --ft-weight-bold: 700;

  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  --shadow-3:
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}

body {
  font-family: var(--ft-family);
  font-weight: var(--ft-weight-standard);
  font-size: var(--ft-size);
  background-color: var(--clr-4);
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  /* width: 35vw; */
  width: min(100% - 10rem, 60rem);
  background-color: #fff;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  border-radius: 10px;
  box-shadow: var(--shadow-3);
}

.card-img {
  width: 100%;
  box-shadow: var(--shadow-2);

}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card-text { padding: 4em 4em; }

.card-header {
  font-size: 26px;
  color: var(--clr-2);
  letter-spacing: 1.1px;
  line-height: 1.3em;
  font-weight: bold;
}
.card-desc {
  margin-top: 30px;
  color: var(--clr-2);
  line-height: 2em;
}

.card-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-author {
  display: flex;
  align-items: center;
}
.card-author > img {
  width: 3.5em;
  border-radius: 50%;
}

.author-text {
  line-height: 1.5;
  margin-left: 1em;
}

.author-name {
  color: var(--clr-2);
  font-weight: var(--ft-weight-bold);
}
.author-date {
  color: var(--clr-3);
  word-spacing: 0.3em;
}

.author-rounded {
  background-color: var(--clr-4);
  padding: 1em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

}

.author-rounded > img {
  z-index: 11;
}

.share-tooltip {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background-color: var(--clr-1);
  padding: 1em 2em;
  border-radius: 10px;
  transform: 0.3s;
  margin-left: -7em;
  bottom: 140%;
  z-index: 10;
  box-shadow: var(--shadow-3);
  /* display: none; */
}

.share-text {
  text-transform: uppercase;
  color: var(--clr-3);
  letter-spacing: 0.3em;
  font-size: 12px;
  text-align: center;
  }

.share-tooltip img {
  margin-left: 15px;
}

@media only screen and (min-width: 900px) {
  .author-rounded {
    position: relative;
  }
  .share-tooltip::after {
    content: '';
    position: absolute;
    top: 99%;
    left: 42%;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--clr-1) transparent transparent transparent;
    box-shadow: var(--shadow-3);
    z-index: 9;

  }
}

@media only screen and (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;
    width: min(100% - 5rem, 400px);
  }
  .card-img img {
    border-radius: 10px 10px 0 0;
    height: 20vh;
  }

  .card-header {
    font-size: 18px;
    font-weight: bold;
  }

  .card-text { padding: 2em 2em 1em 2em; }

  .card-desc { margin-top: 10px; }

  .share-tooltip {
    grid-template-columns: repeat(4, 1fr) 3fr;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;

    padding: 2em;
    margin: auto;

    border-radius: 0 0 10px 10px;

    z-index: -10;
    box-shadow: 0;

    box-sizing: border-box;
  }
}